* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 20px 150px;
    font-family: sans-serif;
  }
  
  .classroomAda {
    width: 100%;
  }
  
  thead tr {
    height: 35px;
    background-color: #f7f7f7;
  }
  
  thead td div {
    padding-left: 5px;
    text-align: start;
  }
  
  tbody td {
    padding: 14px;
  }
  
  tr,
  td {
    text-align: center;
    border: 1px solid black;
  }
  
  tbody tr td div {
    border-radius: 5px;
  }
  
  p {
    color: #969393;
  }
  
  .time_Block {
    width: 60px;
    text-align: center;
  }
  
  .cp1_col,.cp4_col, .ui_col,.cp5_col, .cp2_col, .w3alg_col,.cpres_col,.cp6_col, .cp3_col, .and_col,.w5java_col,.w06_col{
    background-color: #ff5722;
    padding: 5px;
  }
 
  .sr90_col,.w4_c_col,.cpres_col,.w5-G1_col,.w5-G2_col,.w5-phy_col,.w5-JS_col,.w3-eng_col,.w4-phy_col,.em1_col,.em4_col,.gd-G1_col,.en-pr_col,.ui-LU_col,.tei_col,.uiB1_col,.uiB2_col{
    background-color:#25cf19;
    padding: 5px;
  }
  .des1-G1_col,.des1-G2_col,.des1-G3_col,.nwork_col{
    background-color:rgb(239, 208, 30);
    padding: 5px;
  }
  tr:hover{
    background-color: #eae7e7;
  }
  button.search {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    color: #fff;
    background-color: #337AB7;
    border-color: #2E6DA4;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
button.search:hover {
    background-color: #234F75;
}
button.see {
    color: #fff;
    background-color: #449D44;
    border-color: #398439;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
button.see:hover{
    background-color: #2A702A;
}
button.filter {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: none;
    cursor: pointer;
}
button.filter:hover{
  background-color:#969393;
}